<!doctype html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href=" /style.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
<body>
    <div class="ui negative message">
    </div>
    <div class="modal-dialog modal-notify modal-warning">
        <div class="modal-content">
                <% if(locals.err_msg) { %>
                    <div class="alert alert-danger" class="resize"role="alert">
                        <%= err_msg %>
                    </div>
                <% } %>
            <form action="/login" method="post">
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">Se connecter</h4>
                </div>
                <div class="modal-body">
                    <div class="md-form mb-5">
                        <input type="email" class="form-control validate" name="email" placeholder="&#xF007; Email"/>
                    </div>
                    <div class="md-form">
                        <input type="password" class="form-control validate" name="password" placeholder="&#xF023; Mot de passe">
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-outline-warning waves-effect">Se connecter</button>
                </div>
            </form>
            <div class="modal-footer justify-content-center">
                <form action="/register" method="post">
                    <button type="submit" class="btn btn-outline-danger">S'inscrire</button>
                </form>
            </div>
        </div>
    </div>

<%- include('footer') %>