<%- include('header') %>
<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <% if(locals.err_msg) { %>
              <div class="alert alert-danger" role="alert"><%= err_msg %></div>
            <% } %>
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Créer un compte</h2>
                <form action="/sign_in" method="post">
                  <div class="form-outline mb-4">
                    <input type="text" name="Name" class="form-control validate" placeholder="&#xf007; Votre Nom"/>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" name="Fname" class="form-control validate" placeholder="&#xf007; Votre Prénom"/>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" name="Mail" class="form-control validate" placeholder="&#xf01c; Votre E-mail"/>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" name="Password" class="form-control validate" placeholder="&#xf023; Mot de passe"/>
                  </div>
                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" required/>
                    <label class="form-check-label" for="form2Example3g">
                      Acceptez les <a href="#!" class="text-body"><u>Conditions d'utilisations</u></a>
                    </label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-warning waves-effect">S'inscrire &#xf072;</a>
                  </div>
                </form>
                <form action="/log" method="post">
                    <p class="text-center text-muted mt-5 mb-0">Déja un compte ?</p>
                    <a href="/views/pages/index.ejs"><button type="submit" class="btn btn-outline-danger">Se connecter</button></a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  <%- include('footer') %>